 .card {
    width: 10rem;
    height: 30rem;
    margin: 2rem;
    padding: 2rem;
    background-color: aliceblue;
    box-shadow: darkgreen;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.18);
 }

 .card img {
    width: 80%;
 }

 .card button {
    width: 4rem;
 }